.key-dialog-page-3 {
  .content {
    display: flex;
    align-items: center;
    flex-direction: column;
    .key-options {
      display: flex;
      flex-wrap: wrap;
      button {
        margin: 6px;
      }
    }
  }
}
