.layer-panel {
  display: flex;
  justify-content: center;
  .grid {
    display: grid;
    background-color: lightblue;
    grid-template-columns: repeat(10, 64px);
    grid-template-rows: repeat(4, 64px);
    gap: 6px;
  }

  .full-keyboard {
    display: flex;
    div {
      padding: 10px;
      margin: 4px;
      border: 2px solid darkgray;
      border-radius: 10px;
    }
    .grid-left {
      display: grid;
      background-color: lightblue;
      grid-template-columns: repeat(5, 64px);
      grid-template-rows: repeat(4, 64px);
      gap: 6px;
      button:nth-last-child(3):nth-child(5n + 1) {
        grid-column-start: 3;
      }
    }
    .grid-right {
      display: grid;
      background-color: rgb(249, 178, 178);
      grid-template-columns: repeat(5, 64px);
      grid-template-rows: repeat(4, 64px);
      gap: 6px;
    }
  }
}
